{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!-- Favicons -->
    <link href="{% static 'img/adwinsa.png' %}" rel="icon">
    <link href="{% static 'img/adwinsa.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>


<!--==========================
Header
============================-->
<header id="header">

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="{% url 'index' %}" class="scrollto"><span>Adwinsa</span></a></h1>
            {#           <a href="#header" class="scrollto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>#}
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
{#                <li><a href="#about">About Us</a></li>#}
                <li><a href="#services">Resources</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sign Out</a></li>
                {% else %}
                    {% if request.path == '/signin' %}
                        <li><a href="{% url 'register' %}">Registration</a></li>
                    {% elif request.path == '/signup' %}
                        <li><a href="{% url 'login' %}">Sign In</a></li>
                    {% elif request.path != '/signup' or request.path != '/signup' %}
                        <li><a href="{% url 'login' %}">Sign In</a></li>
                        <li><a href="{% url 'register' %}">Registration</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav><!-- .main-nav -->
{% include "snippets/messages.html" %}
    </div>
</header><!-- #header -->




{% block content %}


{% endblock %}


<!--==========================
  Footer
============================-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>