{% extends 'users/auth_base.html' %}

{% load static %}

{% block title %}
    Login
{% endblock %}




{% block content %}

    <header id="authentication" class="" style="background: #f5f8fd;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <header class="section-header">
                        <a href="{% url 'index' %}"><h3>Adwinsa</h3></a>

                    </header>
                    <br>
                    <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="ion-ios-locked-outline"
                                                                          style="color: #ff689b;"></i></div>

                        <h4 class="title"><a href="">Profile</a></h4>
                        <a href="{% url 'logout' %}"><h3>logout</h3></a>
                    </div>
                </div>
            </div>

        </div>
    </header>

{% endblock %}