{% extends 'users/base.html' %}

{% load static %}

{% block title %}
    Adwinsa - Welcome
{% endblock %}



{% block content %}

    <!--==========================
    Header
    ============================-->
    <header id="header">

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>Adwinsa</span></a></h1>
                {#           <a href="#header" class="scrollto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>#}
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#about">Resources</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'register' %}">Registration</a></li>
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->

    <main id="main">
        <!--==========================
          Services Section
        ============================-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <br>
                    <h3>{{ current_level }}</h3>
                </header>

                <div class="table-responsive">

                    <table class="table">
                        <caption>List of resources</caption>
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Strand</th>
                            <th scope="col">Sub Strand</th>
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with counter=0 %}

                            {% for item in resources %}
                                <tr>
                                    <td>{{ item.title|truncatewords:10 }}</td>
                                    <td>{{ item.description|truncatewords:10 }}</td>
                                    <td>{{ item.strand }}</td>
                                    <td>{{ item.sub_strand }}</td>
                                    <td><a href="{{ item.url }}" target="_blank">Download</a></td>
                                </tr>
                            {% endfor %}

                        {% endwith %}


                        </tbody>
                    </table>
                </div>

            </div>
        </section><!-- #services -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>

    <footer id="footer" class="section-bg">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Adwinsa</strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- #footer -->


{% endblock %}

