{% extends 'users/base.html' %}

{% load static %}

{% block title %}
    Adwinsa - Welcome
{% endblock %}



{% block content %}
    <main id="main">
        <!--==========================
          Services Section
        ============================-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <br>
                    <h3>{{ current_level }}</h3>
                </header>

                <div class="table-responsive">

                    <table class="table">
                        <caption>List of resources</caption>
                        <thead>
                        <tr>
                            <th scope="col">File</th>
                            <th scope="col">Strand</th>
                            <th scope="col">Sub Strand</th>
                            {#                            <th scope="col">Indicator</th>#}
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with counter=0 %}

                            {% for item in resources %}
                                <tr>
                                    <td>{{ item.title|truncatewords:10 }}</td>
                                    <td>{{ item.strand }}</td>
                                    <td>{{ item.sub_strand }}</td>
                                    {#                                    <td>{{ item.description|truncatewords:10 }}</td>#}
                                    <td><a href="{{ item.url }}" target="_blank">Download</a></td>
                                </tr>
                            {% endfor %}

                        {% endwith %}


                        </tbody>
                    </table>
                </div>
            </div>
        </section><!-- #services -->


{#        <section id="call-to-action" class="call-to-action wow fadeInUp">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-6 text-center text-lg-left">#}
{#                        <nav aria-label="Page navigation example">#}
{#                            <ul class="pagination">#}
{#                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </section>#}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>

    <footer id="footer" class="section-bg">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Adwinsa</strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- #footer -->


{% endblock %}

