{% extends 'users/base.html' %}

{% load static %}

{% block title %}
    Adwinsa - Welcome
{% endblock %}



{% block content %}
    <main id="main">
        <!--==========================
          Services Section
        ============================-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <br>
                    <h3>{{ current_level }}</h3>
                </header>

                <div class="table-responsive">

                    <table class="table">
                        <caption>List of resources</caption>
                        <thead>
                        <tr>
                            <th scope="col">File</th>
                            <th scope="col">Strand</th>
                            <th scope="col">Sub Strand</th>
                            {#                            <th scope="col">Indicator</th>#}
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with counter=0 %}

                            {% for item in resources %}
                                <tr>
                                    <td>{{ item.title|truncatewords:10 }}</td>
                                    <td>{{ item.strand }}</td>
                                    <td>{{ item.sub_strand }}</td>
                                    {#                                    <td>{{ item.description|truncatewords:10 }}</td>#}
                                    <td><a href="{{ item.url }}" target="_blank">Download</a></td>
                                </tr>
                            {% endfor %}

                        {% endwith %}


                        </tbody>
                    </table>
                </div>


                <nav aria-label="Page navigation example">
                    {% if resources.has_other_pages %}
                        <ul class="pagination justify-content-center">
                            {% if resources.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ resources.previous_page_number }}">
                                        &laquo;
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in resources.paginator.page_range %}
                                {% if resources.number == i %}
                                    <li class="page-item active">{{ i }}</li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if resources.has_next %}
                                <li class="page-item"><a class="page-link"href="?page={{ resources.next_page_number }}">
                                    &raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>


            </div>
        </section><!-- #services -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>

    <footer id="footer" class="section-bg">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Adwinsa</strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- #footer -->


{% endblock %}

